$xv-secondary-dark-gray: #9fa0a2;
$xv-secondary-light-gray: #c9c9c9;

.tile {
  background-color: #d9d9d9;
  border: 2px solid black;
}

/*.hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
 }*/

 .hexagon {
  position: relative;
  width: 140px; 
  height: 80.83px;
  background-color: $xv-secondary-dark-gray;
  margin: 44px 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before, &:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 70px solid transparent;
	  border-right: 70px solid transparent;
	}
  &:before {
	  bottom: 100%;
	  border-bottom: 40.41px solid $xv-secondary-dark-gray;
	}
  &:after {
	  top: 100%;
	  width: 0;
	  border-top: 40.41px solid $xv-secondary-dark-gray;
	}
}

/* Inner Hexagon */
.hexagon-inner {
  position: relative;
  width: 136px; 
  height: 78.52px;
  background-color: $xv-secondary-light-gray;
  margin: 39.26px 0;
  display: flex;
  justify-content: center;
  &:before, &:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 68px solid transparent;
	  border-right: 68px solid transparent;
	  z-index: 1;
   }
	&:before {
	  bottom: 100%;
	  border-bottom: 39.26px solid $xv-secondary-light-gray;
	}
	&:after {
	  top: 100%;
	  width: 0;
	  border-top: 39.26px solid $xv-secondary-light-gray;
	}
}

/* Media queries */
@media (min-width: 1920px) {
	.hexagon-grid-container {
		width: 1600px;
	}
	.hexagon:nth-child(21n+12) {
		margin-left: 74px;
	}
}
@media (max-width: 1919px) and (min-width: 1280px) {
	.hexagon-grid-container {
		width: 1100px;
	}
	.hexagon:nth-child(14n+8) {
		margin-left: 74px;
	}
}
@media (max-width: 1279px) and (min-width: 1024px) {
	.hexagon-grid-container {
		width: 960px;
	}
	.hexagon:nth-child(12n+7) {
		margin-left: 74px;
	}
}
@media (max-width: 1023px) and (min-width: 781px) {
	.hexagon-grid-container {
		width: 780px;
	}
	.hexagon:nth-child(9n+6) {
		margin-left: 74px;
	}
}
@media (max-width: 780px) and (min-width: 640px) {
	.hexagon-grid-container {
		width: 640px;
	}
	.hexagon:nth-child(7n+5) {
		margin-left: 74px;
	}
}
@media (max-width: 639px) {
	.hexagon-grid-container {
		width: 320px;
	}
	.hexagon:nth-child(3n+3) {
		margin-left: 74px;
	}
}
